html {
    background: url('../pano.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: cover;
    z-index: -1;
}

body {
    background: transparent;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: black;
    font-family: "Helvetica", Helvetica, Arial;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    z-index: 4;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: darkcyan;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1;
    text-decoration: underline;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

li {
    float: left; 
    text-decoration: none; 
    padding:   5px; 
    list-style-type: none;
    text-align: center;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.button {
    background-color: darkcyan;
    border: 2px solid darkcyan;
    color: black;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: darkcyan;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.link {
    padding: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 0px;
    transition-duration: 0.4s;
}

.link:hover {
    transform: scale(1.5,1.5);
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.hiddenList {
    display: none;
    
}

.showList {
    background: beige;
    padding: 5px 5px;
    margin: 10px;
    width: 90px;
    border-radius: 10px;
}

.showList:hover ul.hiddenList {
    display: inline-block;
    font-size: 15px;
    text-align: left;
    transition-duration: height 1s;
    -webkit-transition-duration: height 1s;
    -moz-transition-duration: height 1s;
}

#container {
    background-image:url('../kitkatlogo.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

#container-blur {
    background-image:url('../kitkatlogo.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    filter: blur(6px);
}

#page-wrap { 
    position: relative; 
    z-index: 2; 
    width: auto; 
    height: auto;
    margin: 50px auto; 
    padding: 20px; 
    background: grey; 
    border-radius: 20px;
    -moz-box-shadow: 0 0 20px black; 
    -webkit-box-shadow: 0 0 20px black; 
    box-shadow: 0 0 20px black; 
}

#page-wrap-blur { 
    position: relative; 
    z-index: 2; 
    width: auto; 
    height: auto;
    margin: 50px auto; 
    padding: 20px; 
    background: grey; 
    border-radius: 20px;
    -moz-box-shadow: 0 0 20px black; 
    -webkit-box-shadow: 0 0 20px black; 
    box-shadow: 0 0 20px black; 
    filter: blur(6px);
    transition-duration: 1s;
}

#demo {
    margin-top: 10px;
    margin-bottom: 0px;
    
}

ul.navlist {
    list-style-type: disc;
    text-align: center;
    width: auto;
    display: inline-block;
    position: relative;
}

ul.navlist li {
    display: inline-block;
}

#time {
    font-family: Lucida Console, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 10px;
    z-index: 5;
}

.preAccess {
    max-width: 400px;
    font-size: 15px;
    background-color: burlywood;
    padding: 5px 10px;
    margin: 40px auto;
    border-radius: 20px;
    -moz-box-shadow: 0 0 20px 0 black; 
    -webkit-box-shadow: 0 0 20px 0 black; 
    box-shadow: 0 0 20px 0 black; 
}

.preAccessGone {
    max-width: 10px;
}

@media (max-width: 900px) {
    ul {
      display: block;
        width: 90px;
    }
    
    
}


@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}